.products-page-function {
    width: 25%;
}
.products-page-items {
    width: 75%;
    padding-left:2.5rem
}

.products-page-content {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    border-top: none;
    justify-content: center;
}

.products-page-sort {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    border-top: none;
    justify-content: left;
}

.products-page-header-title {
    background-image: url(../../images/heading.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 2.6rem;
    padding: 0 3.8rem;
}

.products-page-header-title p {
    font-size: 1.5rem;
    color: black;
    white-space: nowrap;
}

.products-page {
    padding: 2rem 15rem;
    display: flex;
}

.products-page-item {
    padding: 0 1.5rem;
}

.products-page-card {
    width: 18rem;
}

.products-page-card img {
    max-width: 100%;
    height: 12rem;
}

.products-page-title {
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
}

.products-page-description {
    font-size: 1rem;
    height: 4rem;
}

.products-page-card{
    padding: 1rem 1.2rem 1.2rem;
    margin: 0 auto 1.5rem;
    margin-top: 2rem;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.products-page-price{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.products-page-card-footer{
    display:flex;
    justify-content: space-between;
}

.products-page-sort-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
}

.products-page-sort-item input {
    margin-right: 0.5rem;
}

.products-page-sort-item label {
    font-size: 1rem;
    margin:0;
}



@media screen and (max-width: 1370px) {
    .products-page {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}


@media screen and (max-width: 900px) {
    .products-page-sort-item label {
        font-size: 0.7rem;
    }
}
