.branding{
    margin:0;
}
.branding-logo {
    width: 20%;
    text-align: start;
}

.branding-logo img {
    max-width: 8rem;
    max-height: 8rem;
}

.branding-items{
    padding:0 15rem;
    height:100%
}

.branding-informations{
    width: 70%;
    display: flex;
    justify-content:space-between;
}

.branding-tutorial .branding-transport .branding-serve .branding-hotline {
    width: 25%;
}

.branding-images img{
    max-width: 3rem;
    max-height: 3rem;
}

.branding-text{
    font-size: 1rem;
    margin-bottom:0;
    font-weight: 500;
}

@media screen and (max-width: 1370px) {
    .branding-items{
        padding:0 0 0 3rem;
    }
}


@media screen and (max-width: 990px) {
    .branding{
        display:none;
    }
}


