.product-details {
    padding: 2rem 15rem;
    display:flex;
}

.product-details-items {
    width: 75%;
    margin-right: 2rem;
}

.product-details-news{
    width: 25%;
}

.product-details-header-title {
    background-image: url(../../images/heading.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 2.6rem;
    padding: 0 3.8rem;
}

.product-details-header-title p {
    font-size: 1.3rem;
    color: black;
}


.product-details-item-header{
    margin: 2rem 0;
    display: flex;
    width:100%;
}

.product-details-item-header-image{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details-item-header-image img{
    max-width: 85%;
    max-height: 20rem;
}

.product-details-item-header-information{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 2rem;
    padding-left: 1rem;
}

.product-details-add-to-cart{
    display: flex;
    justify-content:flex-end;
}

.product-details-price{
    color:red;
}

#product-details-description img{
    width: 100%;
    height: auto;
}

.same-product-items{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1370px) {
    .product-details {
        padding-right: 3rem;
        padding-left: 3rem;
    }  
}

@media screen and (max-width: 1100px) {
    .product-details {
        flex-direction: column;
    }

    .product-details-item-header{
        flex-direction: column;
    }

    .product-details-item-header-information{
        width: 100%;
        padding: 0 1rem;
    }

    .product-details-item-header-image{
        width: 100%;
    }

    .product-details-items{
        width: 100%;
        margin:0;
    }

    .product-details-news{
        width: 100%;
        margin: 2rem 0;
    }

    .same-products-items{
        flex-direction: row;
    }
}

.same-products-header-title {
    background-image: url(../../images/heading.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 2.6rem;
    padding: 0 3.8rem;
}

.same-products-header-title p {
    font-size: 1.3rem;
    color: black;
    white-space: nowrap;
}

.same-product-items a {
    color: black;
    text-decoration: none;
}

.same-products-item p:hover{
    color:#6495ED
}

.same-product-items{
    padding: 1rem 0;
}