.product-details {
    padding: 2rem 15rem;
    display:flex;
}

.product-details-items {
    width: 80%;
}

.product-details-news{
    width: 20%;
}

.product-details-header-title {
    background-image: url(../../images/heading.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 2.6rem;
    padding: 0 3.8rem;
}

.product-details-header-title p {
    font-size: 1.5rem;
    color: black;
    white-space: nowrap;
}


.product-details-item-header{
    margin: 2rem 0;
    display: flex;
    width:100%;
}

.product-details-item-header-image{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details-item-header-image img{
    max-width: 25rem;
    max-height: 20rem;
}

.product-details-item-header-information{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 2rem;
    padding-left: 1rem;
}

.product-details-add-to-cart{
    display: flex;
    justify-content:flex-end;
}

.product-details-price{
    color:red;
}

#product-details-description img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1370px) {
    .product-details {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}