.navbar-items .navbar-homepage-responsive-home {
    display: none;
}

.navbar-homepage {
    z-index: 1020;
}

.navbar-items {
    padding: 0 15rem;
    background-color: #1C1C1C;
}

.navbar-link img {
    max-width: 2.8rem;
    max-height: 2.8rem;
}

.navbar-link p {
    margin-bottom: 0rem;
    color: white;
}

.navbar-homepage .navbar-nav {
    width: 100%;
    z-index: 999;
}

.navbar-link {
    text-align: center;
    width: 16%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#collasible-nav-dropdown::after {
    display: none;
}

.dropdown-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-title img {
    max-width: 2.8rem;
    max-height: 2.8rem;
}

.dropdown-title p {
    color: white;
}

.dropdown-navbar {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
}

.dropdown-navbar:hover {
    background-color: #2E2E2E;
}

a.navbar-link:hover {
    background-color: #2E2E2E;
    text-decoration: none;
}

.dropdown-title-phone {
    margin-bottom: 0;
}

.navbar-items button {
    border: none;
}

.navbar-items .navbar-homepage-responsive-home img {
    max-width: 200px;
    height: 3rem;
}

.dropdown-menu {
    background-color: #1C1C1C;
    width: 100%;
    text-align: left;
}

.dropdown-menu a {
    color: white;
    width: 100%;
}

.dropdown-menu a:hover {
    background-color: #2E2E2E;
    color: white;
}

.dropdown-menu a:focus {
    background-color: #2E2E2E;
    color: white;
}

.cart-number{
    position: relative;
}

.number-of-cart {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    color:white;
    top:2.3rem;
    right: 34.5%;
}

@media screen and (max-width: 1370px) {
    .navbar-items {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media screen and (max-width:990px) {
    .navbar-homepage nav {
        height: 3.6rem;
    }

    .dropdown-menu {
        text-align: center;
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
        color: black;
    }

    .navbar-item {
        flex-wrap: nowrap;
    }

    .navbar-link {
        background-color: #1C1C1C;
        width: 100%;
    }

    .navbar-items .navbar-homepage-responsive-home {
        display: block;
    }

    .navbar-items {
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
        background: #151515;
    }

    .navbar-link img {
        margin-top: 0.3rem;
    }

    a.nav-link {
        width: 100%;
        padding: 0.3rem 0;
    }

    div.nav-item.dropdown-navbar {
        width: 100%;
    }

    .dropdown-navbar:hover {
        background-color: #2E2E2E;
    }

    .navbar-link:hover {
        background-color: #2E2E2E;
    }

}