.product-board-header-title {
    width: 100%;
    text-align: center;
    margin: 0.3rem 0;
}

.product-board-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    text-transform: capitalize;
}

.product-board-body {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.product-board-on-add-button {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
    margin: 0.3rem 0;
}

.product-board-add-button {
    padding: 0 2rem;
    margin: 1rem 0;
}

.product-board-add-button button {
    width: 100%;
}


.product-board-edit-button {
    padding: 0 2rem;
    margin: 1rem 0;
}

.product-board-edit-button button {
    width: 100%;
}

.form-group-product {
    padding: 0 2rem;
}

.product-board-name {
    width: 10%
}

.product-board-image {
    width: 10%;
}

.product-board-category {
    width: 5%;
}

.product-board-description {
    width: 20%;
}

.product-board-guarantee {
    width: 5%;
}

.product-board-color {
    width: 10%
}

.product-board-available {
    width: 10%;
}

.product-board-price {
    width: 10%;
}

.product-board-edit {
    width: 5%;
}

.product-board-delete {
    width: 5%;
}

.checkAvailable {
    color: green
}

.checkUnAvailable {
    color: red
}

.form-group-product label {
    display: block;
    margin-top: 10px;
}


#product-board-category {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.ql-editor {
    min-height: 8rem;
}

.filter-selected {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    border-radius: 0;
}

.filter-selected:focus {
    outline: 0;
    border-bottom-color: #0056b3
}

.filter-selected:active {
    outline: 0;
    border-bottom-color: #0056b3
}


.product-board-filter {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.my-modal-product {
    width: 60vw;    /* Occupy the 90% of the screen width */
    max-width: 60vw;
}